@* @model PizzaShop.Repository.ViewModels.OrderViewModelInKOT
@{
    var currentStatus = Model.status;
    string buttonText = currentStatus == "inprogress" ? "Mark as Prepared" : "Mark as In Progress";
    string nextStatus = currentStatus == "inprogress" ? "Ready" : "InProgress";
}
<div class="modal-header">
    <h4>Order ID: #@Model.orderId</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body text-center">
    <div class="text-secondary d-flex justify-content-between border-secondary border-bottom fw-bold p-2">
        <span>Item</span><span>Quantity</span>
    </div>
    @foreach (var item in Model.items)
    {
        <div class="d-flex justify-content-between p-2 orderitemquantity">
            <div>
                <div class="form-check">
                    <input class="form-check-input item-checkbox xyz" type="checkbox" data-ordertoitem="@item.ordertoitem"/>
                    <label class="form-check-label">@item.itemName</label>
                </div>
                <ul class="m-1 text-start">
                    @foreach (var mod in item.itemsModifiers)
                    {
                        <li class="text-secondary"><small>@mod</small></li>
                    }
                </ul>
            </div>
            <div class="quantity-btn border-primary rounded-1 border">
                <div class="input-group d-flex align-items-center justify-content-between">
                    <button type="button" class="quantity-left-minus btn border-0" disabled>
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <div style="width: 50px;">
                        <input type="number" class="form-control input-number border-0 qty-input bg-white" max="@item.totalItems" 
                            value="@item.totalItems" min="1" disabled/>
                    </div>
                    <button type="button" class="quantity-right-plus btn border-0" data-max="@item.totalItems" disabled>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    }
</div>
<div class="modal-footer mb-3">
    <button class="btn btn-primary bg-header me-2 rounded-0 px-3" id="update-status-btn" data-order-id="@Model.orderId" data-status="@nextStatus">
        @buttonText
    </button>
    <button type="button" class="btn text-primary bg-white text-header border-primary rounded-0 px-3"
        data-bs-dismiss="modal">Cancel</button>
</div>
<script>
    $(document).ready(function(e){
        $("#update-status-btn").click(function(e){
            var orderid = $(this).data("order-id");
            var status = $(this).data("status");
            var selectedIds = [];
            var itemQun = {};

            $(".item-checkbox:checked").each(function(){
                var id = $(this).data("ordertoitem");
                var qut = $(this).parents(".orderitemquantity").find(".qty-input").val();

                itemQun[id] = qut;
                selectedIds.push(id);
            })
            $.ajax({
                url : "/KOT/UpdateItemQuantity",
                type : "POST",
                data : {
                    selectedIds : selectedIds,
                    orderid : orderid,
                    itemQun : itemQun,
                    status : status
                },
                success : (Response) => {
                    if(Response.success){
                        $("#kot-order-modal").modal("hide");
                        $("#kot-tabs-cont").find(".selected-tab").click();
                        toastr.success("Item Status Updated Successfully.");
                    }else{
                        $("#kot-order-modal").modal("hide");
                        $("#kot-tabs-cont").find(".selected-tab").click();
                        toastr.error(Response.message);

                    }
                }
            })
        })
        $(".quantity-left-minus").click(function(e){
            var temp = $(this).closest(".input-group").find("input").val();
            if(temp > 1){
                $(this).closest(".input-group").find("input").val(parseInt(temp) - 1);
            }
        })
        $(".quantity-right-plus").click(function(e){
            var temp = $(this).closest(".input-group").find("input").val();
            if($(this).data("max") < (parseInt(temp)+1).toString()){
                return;
            }
            $(this).closest(".input-group").find("input").val(parseInt(temp) + 1);
        })
        $(".xyz").change(function(e){  
            $(".quantity-right-plus").prop("disabled",!$(this).is(":checked"));
            $(".quantity-left-minus").prop("disabled",!$(this).is(":checked"));
        })
    })
</script>  *@