@using pizzashop.service.Interfaces
@inject IPermissionService PermissionService
@{
    var permission = await PermissionService.GetCurrentUserPermissionsForModule("Menu");
}

<ul class="sortCategory">
    @foreach (var category in Model)
    {
        <li class="d-flex items selectedCategory" tabindex="0" data-id="@category.Categoryid">
            <div class="d-flex align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                <img src="~/images/dots-graphic.png" class="@(permission?.Canaddedit == true ? "sort-icon" : "")">
                <div style="width: 130px;" class="text-wrap ms-1 fw-bold">
                    @category.Categoryname</div>
            </div>
            @if(permission.Canaddedit == true){
            <button class="btn ms-auto edit-btn" type="button" data-bs-toggle="modal" data-bs-target="#Edit-Category"
                data-id="@category.Categoryid">
                <img src="~/images/pen.svg" class="d-none">
            </button>
            }
            @if(permission.Candelete == true){
            <button class="btn ms-1 delete-category" type="button" data-bs-toggle="modal" data-bs-target="#DeleteCategoryModal" data-id="@category.Categoryid">
                <img src="~/images/trash.svg" style="margin-right: 0px;" class="d-none" class="d-none">
            </button>
            }
        </li>
    }
</ul>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function () {
        $(".sortCategory").sortable({
            handle: ".sort-icon",  
            update: function (event, ui) {
                let sortOrder = [];
                $(".sortCategory li").each(function () {
                    sortOrder.push($(this).data("id"));
                });

                console.log(sortOrder);

                $.ajax({
                    url: "/Menu/UpdateCategoryOrder", 
                    type: "POST",
                    data: { sortOrder: sortOrder },
                    success: function (response) {
                        console.log("Category Order updated successfully");
                    }
                });
            }
        });
    });
</script>

