@using pizzashop.repository.Models
@model pizzashop.repository.ViewModels.AddEditItemViewModel

<div class="modal fade" id="editItem" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered justify-content-center">
        <form method="post" id="editItemForm" enctype="multipart/form-data">
            <input type="hidden" asp-for="Itemid">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Update Menu Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body d-flex">

                    <div class="left-side-addItem w-75">

                        <!-- first row -->
                        <div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                        <div class="form-floating">
                                            <select class="form-select" asp-for="Categoryid" asp-items="Model.Category"
                                                id="categoryid" aria-label="Floating label select example">
                                                <option selected>Select Category</option>
                                            </select>
                                            <label for="categoryid">Categories</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInput"
                                                placeholder="Name" asp-for="Itemname" required>
                                            <label for="floatingInput">Name*</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- two row -->

                        <div class="container-fluid">
                            <div class="row">
                                <div class=" col-xxl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                                    <div class="form-floating">
                                        <select class="form-select" asp-for="ItemType" id="floatingSelect"
                                            aria-label="Item type" required>
                                            @foreach (var type in
                                            Enum.GetValues(typeof(itemtype)).Cast<itemtype>())
                                            {
                                                <option value="@((int)type)">
                                                    @type.ToString()
                                                </option>
                                            }
                                        </select>
                                        <label for="floatingSelect">Item Type*</label>
                                    </div>
                                </div>

                                <div class="col-xxl-3 col-lg-6 col-md-6  col-sm-6 col-12 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" asp-for="Rate" id="floatingInput"
                                            placeholder="Rate" required>
                                        <label for="floatingInput">Rate*</label>
                                    </div>
                                </div>

                                <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" asp-for="Quantity" id="floatingInput"
                                            placeholder="Quantity" required>
                                        <label for="floatingInput">Quantity*</label>
                                    </div>
                                </div>

                                <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                                    <div class="form-floating">
                                        <select class="form-select" asp-for="Unitid" asp-items="Model.Units"
                                            id="floatingSelect" aria-label="Item type" required>
                                            <option selected>Select a Unit</option>
                                        </select>
                                        <label for="floatingSelect">Unit*</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- three row -->

                        <div class="container-fluid">
                            <div class="row">
                                <div
                                    class=" col-xxl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3 d-flex align-items-center">
                                    <div class="form-check form-switch d-flex gap-2 align-items-center">
                                        <input class="form-check-input" asp-for="Isavailable" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Available</label>
                                    </div>
                                </div>

                                <div
                                    class="col-xxl-3 col-lg-6 col-md-6  col-sm-6 col-12 mb-3 d-flex align-items-center">
                                    <div
                                        class="form-check form-switch d-flex gap-2 align-items-center justify-content-start">
                                        <input class="form-check-input" asp-for="Isdefaulttax" type="checkbox"
                                            role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">DefaultTax</label>
                                    </div>
                                </div>

                                <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                                    <div class="form-floating">
                                        <input type="text" asp-for="Taxpercentage" class="form-control"
                                            id="floatingInput" placeholder="Tax Percentage">
                                        <label for="floatingInput">Tax Percentage</label>
                                    </div>
                                </div>

                                <div class="col-xxl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                                    <div class="form-floating">
                                        <input type="text" asp-for="Shortcode" class="form-control" id="floatingInput"
                                            placeholder="Short Code">
                                        <label for="floatingInput">Short Code</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="container-fluid mb-3">
                            <textarea class="form-control" asp-for="Description" placeholder="Description"
                                id="floatingTextarea2" style="height: 100px"></textarea>
                            @* <label for="floatingTextarea2" style="padding-left: 2rem
                            !important;">Description</label> *@
                        </div>


                        <div class="container-fluid">
                            <span>Upload Image</span>
                            <div class="input-group d-flex justify-content-center align-items-center file-upload p-4">
                                <label for="files"
                                    class="btn w-100 d-flex align-items-center justify-content-center flex-column border-0">
                                    <div class="d-flex">
                                        @if (!string.IsNullOrEmpty(Model.Itemimg))
                                        {
                                            <img src="@Url.Content("~/images/uploads/" + Model.Itemimg)" id="profileImg"
                                                style="width: 50px;" />
                                        }
                                        else
                                        {
                                            <img id="profileImg" style="width: 50px; display: none;" />
                                        }
                                        <div class="d-flex align-items-center ms-3">
                                            <img src="~/images/cloud-arrow-up.svg" alt="upload-icon"
                                                style="width: 30px;" />
                                            <span class="ms-2">
                                                Drag and Drop Or Browse files
                                            </span>
                                        </div>
                                    </div>
                                </label>
                                <input id="files" type="file" class="upload-file d-none" name="ProfileImage" />
                            </div>
                        </div>
                    </div>

                    <div class="right-side-addItem w-25">
                        <div class="container-fluid mt-2">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start" type="button"
                                    id="modifierGroupDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Modifier Group(s)
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="modifierGroupDropdown">
                                    @foreach (var group in Model.ModifierGroups)
                                    {
                                        <li class="mt-2">
                                            <a class="dropdown-item modifier-group-item" data-id="@group.Value"
                                                data-name="@group.Text" href="#">@group.Text</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <!-- Container for dynamically added modifier groups -->
                        <div id="selectedModifierGroups" class="mt-3">
                            <!-- Dynamic modifier groups will be loaded here -->
                        </div>
                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-end gap-2">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="EditItem">Save</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<template id="modifier-group-template">
    <div class="modifier-group-container mt-2 pb-2" data-group-id="">
        <div class="d-flex justify-content-between align-items-center ps-md-4 pe-md-4 ps-sm-3 pe-sm-3 ps-1 pe-1">
            <span class="fw-bold group-name"></span>
            <button type="button" class="btn btn-sm text-secondary delete-group p-0">
                <i class="bi bi-trash"></i>
            </button>
        </div>

        <div class="d-flex align-items-center justify-content-center my-1">
            <select class="form-select form-select-sm min-selection-select min-max me-4">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <select class="form-select form-select-sm max-selection-select min-max">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <ul class="list-styled modifier-items-list">
            <!-- Modifiers will be added here dynamically -->
        </ul>

        <input type="hidden" class="group-id-input" name="selectedModifierGroups" value="">
    </div>
</template>
<script>
    document.getElementById('files').addEventListener('change', function (e) {
        const file = e.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (event) {
                document.getElementById('profileImg').src = event.target.result;
                document.getElementById('profileImg').style.display = 'block';
            };
            reader.readAsDataURL(file);
        }
    });
</script>
<style>
    .right-side-addItem {
        padding: 0;
        width: 25%;
    }

    .modifier-group-container {
        font-size: 0.9rem;
        border-bottom: 1px solid #eee;
    }

    .min-max-label {
        font-size: 0.8rem;
        color: #666;
        width: 30px;
    }

    .min-selection-select,
    .max-selection-select {
        width: 50px;
    }

    #selectedModifierGroups {
        max-height: 400px;
        overflow-y: auto;
    }

    .dropdown-menu {
        max-height: 200px;
        overflow-y: auto;
    }

    .modifier-items-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin-top: 0px !important;
    }

    .modifier-items-list li .modifier-price {
        @* text-align: right; *@
        width: 40px;
    }

    .modifier-items-list li .modifier-name {
        @* padding-left: 3px !important;  *@
    }
</style>