@using pizzashop.service.Interfaces
@inject IPermissionService PermissionService
@{
    var permission = await PermissionService.GetCurrentUserPermissionsForModule("Menu");
}

<table class="table  px-5" style="border-radius: 6px;">
    <thead>
        <tr>
            <th scope="col">
                <input class="form-check-input me-2" type="checkbox" value="" id="MasterCheckBoxDelete">
                <span class="heading ">Name</span>
            </th>
            <th scope="col"><span class="heading">Unit</span></th>
            <th scope="col"><span class="heading">Rate</span></th>
            <th scope="col"><span class="heading">Quantity</span> </th>
             @if(permission.Canaddedit == true || permission.Candelete == true){
            <th scope="col"><span class="heading">Action</span></th>
            }
        </tr>
    </thead>
    <tbody>
        <input id="ModifierGroupId" value="@(Model.Count > 0 ? Model[0].Modifiergroupid : false)" hidden>
        @foreach (var modifier in Model)
        {
            <tr>
                <td class="d-flex">
                    <input class="form-check-input me-2" type="checkbox" value="" id="ModifierCheckBoxDelete" data-group="@modifier.Modifiergroupid">
                    <span>@modifier.Modifiername</span>
                </td>
                <td>@modifier.UnitName</td>
                <td>@modifier.Rate</td>
                <td>@modifier.Quantity</td>
                 @if(permission.Canaddedit == true || permission.Candelete == true){
                <td>
                     @if(permission.Canaddedit == true){
                    <a>
                        <img src="~/images/pen.svg" alt="profile image" data-id="@modifier.Modifierid" class="me-2 bg-light EditModifier" id="profile"
                            style="max-height: 30px; height: 100%; width:auto;">
                    </a>
                    }
                     @if(permission.Candelete == true){
                    <a>
                        <img src="~/images/trash.svg" alt="profile image" data-bs-toggle="modal"
                            data-bs-target="#DeleteModifierModal" data-id="@modifier.Modifierid"
                            data-modifiergroup="@modifier.Modifiergroupid" class="me-2 bg-light deleteModifier" id="profile"
                            style="max-height: 30px; height: 100%; width:auto; border-radius: 100%;">
                    </a>
                    }
                </td>
                }
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-end align-items-center flex-wrap gap-2 mt-2 p-3">
    <div class="d-flex align-items-center">
        <span class=" px-1">Items Per page:</span>
        <select id="pageSizeSelect" class="form-select form-select-sm" style="width: auto;">
            <option value="5" selected="@(ViewBag.PageSize == 5)">5</option>
            <option value="10" selected="@(ViewBag.PageSize == 10)">10</option>
            <option value="25" selected="@(ViewBag.PageSize == 25)">25</option>
        </select>
    </div>
    <div class="d-flex align-items-center gap-2">
        <span class=" px-1">
            Showing @(ViewBag.TotalUsers > 0 ? ((ViewBag.CurrentPage - 1) * ViewBag.PageSize + 1) : 0)
            - @(ViewBag.TotalUsers > 0 ? Math.Min(ViewBag.CurrentPage * ViewBag.PageSize, ViewBag.TotalUsers) :
              0)
            of @ViewBag.TotalUsers
        </span>
        <nav>
            <ul class="pagination pagination-sm mt-3">
                <!-- Previous Page -->
                <li class="page-item @(ViewBag.CurrentPage > 1 ? "" : "disabled")">
                    <a class="page-link pagination-link" href="#" data-page="@(ViewBag.CurrentPage - 1)">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>

                <!-- Next Page -->
                <li class="page-item @(ViewBag.CurrentPage < ViewBag.TotalPages ? "" : "disabled")">
                    <a class="page-link pagination-link" href="#" data-page="@(ViewBag.CurrentPage + 1)">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>