@using pizzashop.repository.Models;
@model List<Waitingtoken>

<table class="table m-0">
    <thead>
        <tr>
            <th>#Token No</th>
            <th>Created At</th>
            <th>Waiting Time</th>
            <th>Name</th>
            <th>No. of Persons</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var token in Model)
        {
            <tr>
                <td>#@token.Waitingtokenid</td>
                <td>@token.Createdat?.ToString("MMM dd, yyyy hh:mmtt")</td>
                <td>
                    @{
                        var waitTime = DateTime.Now - token.Createdat;
                    }
                    <span class="wait-timer" data-createdat="@token.Createdat?.ToString("o")">
                        
                    </span>
                </td>
                <td>@token.Customer.Customername</td>
                <td>@token.Noofpeople</td>
                <td>@token.Customer.Phoneno</td>
                <td>@token.Customer.Email</td>
                <td class="text-center">
                    <button type="button" class="btn edit-token-btn" data-bs-toggle="modal" data-bs-target="#editWaitingToken"
                            data-id="@token.Waitingtokenid" data-sectionid="@token.Sectionid">
                        <img src="~/images/pen.svg" alt="" width="20px">
                    </button>
                    <button type="button" class="btn delete-token-btn" data-bs-toggle="modal" data-bs-target="#deleteWaitingToken"
                            data-id="@token.Waitingtokenid" data-sectionid="@token.Sectionid">
                        <img src="~/images/trash.svg" alt="" width="20px">
                    </button>
                    <button type="button" class="btn assign-token-btn" data-bs-toggle="modal" data-bs-target="#AssignTableModal"
                            data-id="@token.Waitingtokenid">
                        <img src="~/images/icons/person-check.svg" alt="" width="20px">
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>