@using pizzashop.repository.Models;
@model List<Waitingtoken>

<div class="table-responsive">
<table class="table m-0">
    <thead>
        <tr>
            <th class="text-nowrap">#Token No</th>
            <th class="text-nowrap">Created At</th>
            <th class="text-nowrap">Waiting Time</th>
            <th class="text-nowrap">Name</th>
            <th class="text-nowrap">No. of Persons</th>
            <th class="text-nowrap">Phone Number</th>
            <th class="text-nowrap">Email</th>
            <th class="text-center text-nowrap">Action</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var token in Model)
        {
            <tr>
                <td class="text-nowrap">#@token.Waitingtokenid</td>
                <td class="text-nowrap">@token.Createdat?.ToString("MMM dd, yyyy hh:mmtt")</td>
                <td>
                    <span class="wait-timer" data-createdat="@token.Createdat?.ToString("o")">
                        
                    </span>
                </td>
                <td class="text-nowrap">@token.Customer.Customername</td>
                <td class="text-nowrap">@token.Noofpeople</td>
                <td class="text-nowrap">@token.Customer.Phoneno</td>
                <td class="text-nowrap">@token.Customer.Email</td>
                <td class="text-center text-nowrap">
                    <button type="button" class="btn edit-token-btn" data-bs-toggle="modal" data-bs-target="#editWaitingToken"
                            data-id="@token.Waitingtokenid" data-sectionid="@token.Sectionid">
                        <img src="~/images/pen.svg" alt="" width="20px">
                    </button>
                    <button type="button" class="btn delete-token-btn" data-bs-toggle="modal" data-bs-target="#deleteWaitingToken"
                            data-id="@token.Waitingtokenid" data-sectionid="@token.Sectionid">
                        <img src="~/images/trash.svg" alt="" width="20px">
                    </button>
                    <button type="button" class="btn assign-token-btn" data-bs-toggle="modal" data-bs-target="#AssignTableModal"
                            data-id="@token.Waitingtokenid" data-sectionid="@token.Sectionid">
                        <img src="~/images/icons/person-check.svg" alt="" width="20px">
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>