@{
    var layout = Context.Request.Query["from"];
    Console.WriteLine(layout);
    if(layout == "0"){
        Layout = "_Layout";
    }
    else{
        Layout = "_OrderAppLayout";
    }
    ViewData["Title"] = "Profile Page";
}

@model pizzashop.repository.ViewModels.ProfileViewModel;

<head>
    @if(layout == "0"){
    <link rel="stylesheet" href="~/css/userList.css">
    }
</head>
<section style="min-height: 100vh;background-color: #fafafa;">
    <div class="row pt-4 ms-sm-5 me-sm-5 ms-3 me-3 mb-4" style="height: 70px;">
        <h2 class="col" style="color: rgb(101, 101, 224); font-family: Roboto; font-weight: 550">My Profile</h1>
    </div>

    <div class="row  ms-sm-5 me-sm-5 ms-3 me-3"
        style="border-radius: 6px; box-shadow: 1px 1px 15px rgb(108, 103, 103);">

        <form asp-controller="Dashboard" asp-action="Profile" method="post" enctype="multipart/form-data" id="form">
            <div class="row">
                <img src="~/images/profile_div_bg.jpg"
                    style="max-height: 50px; border-top-left-radius: 6px; border-top-right-radius: 6px;"
                    class="w-100 h-100 pe-0 ps-0">
                <div class="col d-flex align-items-center mb-3" style="margin-top: -21px;">
                    @if(Model.Profileimg != null){
                        <img src="@Url.Content("~/images/uploads/" + Model.Profileimg)" alt="profile image"
                        class="ms-md-4 ms-2 bg-light ps-0 pe-0" id="profile"
                        style="height: 100px; width: 100px; border-radius: 50%;">
                    }
                    else{
                        <img src=" @Url.Content("~/images/Default_pfp.svg.png")" alt="profile image"
                        class="ms-md-4 ms-2 bg-light ps-0 pe-0" id="profile"
                        style="height: 100px; width: 100px; border-radius: 50%;">
                    }
                    
                        
                    <label class="d-flex flex-column justify-content-center align-items-center" for="files">
                        <img class="p-1" id="upload-photo-icon" src="~/images/cloud-arrow-up.svg" alt="upload-icon" />
                    </label>
                    <input id="files" type="file" name="ProfileImage" class="upload-file text-muted d-none" />
                    <div class="d-flex flex-column">
                        <span class=" fw-bold">@Model.FirstName @Model.LastName</span>
                        <span>@Model.Rolename</span>
                    </div>
                    <span class="ms-auto me-md-4 me-2">@Model.Email</span>
                </div>
            </div>
            <input type="hidden" asp-for="Email">
            <input type="hidden" asp-for="Id">
            <input type="hidden" asp-for="Rolename">
            <input type="text" name="from" style="display: none;" value=@layout>
            <div class="row">
                <div class="form-floating col-md-6 col-12 mb-3">
                    <input asp-for="FirstName" type="text" class="form-control" id="floatingInput">
                    <label for="floatingInput" class="label-pad">First Name*</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-6 col-12 mb-3">
                    <input asp-for="LastName" type="text" class="form-control" id="floatingPassword">
                    <label for="floatingPassword" class="label-pad">Last Name*</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-md-6 col-12 mb-3">
                    <input asp-for="Username" type="text" class="form-control" id="Username">
                    <label for="Username" class="label-pad">Username*</label>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-6 col-12 mb-3">
                    <input asp-for="Phone" type="text" class="form-control" id="Phone">
                    <label for="Phone" class="label-pad">Phone*</label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-md-4 col-12 mb-3">
                    <select class="form-select" id="Country" aria-label="Default select example" asp-for="CountryId">
                        <option value="">Select Country</option>
                        @foreach (var country in Model.Countries)
                        {
                            <option value="@country.Value">@country.Text</option>
                        }
                    </select>
                    <label for="floatingPassword" class="label-pad">Country*</label>
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-4 col-12 mb-3">
                    <select class="form-select" id="State" aria-label="Default select example" asp-for="StateId">
                        <option value="">Select State</option>
                        @foreach (var state in Model.States)
                        {
                            <option value="@state.Value">@state.Text</option>
                        }
                    </select>
                    <label for="floatingPassword" class="label-pad">State*</label>
                    <span asp-validation-for="StateId" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-4 col-12 mb-3">
                    <select class="form-select" id="City" aria-label="Default select example" asp-for="CityId">
                        <option value="">Select City</option>
                        @foreach (var city in Model.Cities)
                        {
                            <option value="@city.Value">@city.Text</option>
                        }
                    </select>
                    <label for="floatingPassword" class="label-pad">City*</label>
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-md-8 col-12 mb-3">
                    <input asp-for="Address" type="text" class="form-control" id="floatingPassword">
                    <label for="floatingPassword" class="label-pad">Address</label>
                </div>
                <div class="form-floating col-md-4 col-12 mb-3">
                    <input asp-for="Zipcode" type="text" class="form-control" id="floatingInput">
                    <label for="floatingInput" class="label-pad">Zipcode</label>
                </div>
            </div>
            <div class="row">
                <div class="col-auto mb-3 ms-auto">
                    <button type="submit" class="btn btn-primary"
                        style="border-radius: 3px; width: 120px;">Update</button>
                </div>
                @if(layout == "0"){
                <div class="col-auto" style="padding-left: 0px;">
                    <a type="button" class="btn border-primary text-primary" asp-controller="Dashboard"
                        asp-action="Dashboard" style="border-radius: 3px; width: 90px; ">Cancel</a>
                </div>
                }
            </div>
        </form>
    </div>
</section>
<script>
    $(document).ready(function () {

        let isUsernameValid = true;
        let isPhoneValid = true;

        function validateRemote(inputElement, url, fieldName, additionalData = {}) {
            var value = inputElement.val();

            if (value.trim() !== '') {
                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {
                        ...additionalData,
                        [inputElement.attr('name')]: value
                    },
                    success: function (response) {
                        if (!response) {
                            inputElement.closest('.form-floating').find('span.text-danger').text(`User with this ${fieldName} already exist`);

                            if (inputElement.attr('id') === 'Username') {
                                isUsernameValid = false;
                            } else if (inputElement.attr('id') === 'Phone') {
                                isPhoneValid = false;
                            }
                        } else {
                            inputElement.next('.text-danger').text('');
                            if (inputElement.attr('id') === 'Username') {
                                isUsernameValid = true;
                            } else if (inputElement.attr('id') === 'Phone') {
                                isPhoneValid = true;
                            }
                        }
                    },
                    error: function () {
                        console.error('Validation request failed');
                    }
                });
            }
        }

        $('#form').on('submit', function (e) {

            validateRemote($('#Username'), '/User/CheckUsername', "username", {
                Id: $('input[name="Id"]').val()
            });

            validateRemote($('#Phone'), '/User/CheckPhone', "phone number", {
                Id: $('input[name="Id"]').val()
            });
            if (!isUsernameValid || !isPhoneValid) {
                e.preventDefault();
                return false;
            }
        });

        $('#Username').on('blur', function () {
            console.log("blur");
            var userId = $('input[name="Id"]').val();
            validateRemote($(this), '/User/CheckUsername', "username", { Id: userId });
        });

        $('#Phone').on('blur', function () {
            var userId = $('input[name="Id"]').val();
            validateRemote($(this), '/User/CheckPhone', "phone pumber", { Id: userId });
        });
        $("#Country").change(function () {
            console.log("hii");
            var countryId = $(this).val();
            if (countryId) {
                $.getJSON('/Dashboard/GetStates', { countryId: countryId }, function (data) {
                    var state = $("#State");
                    state.empty();
                    state.append('<option value="">Select State</option>');
                    $.each(data, function (index, item) {

                        state.append('<option value="' + item.stateid + '">' + item.statename + '</option>');
                    });
                });
            }
            else {
                $("#State").html('<option value="">Select State</option>');
                $("#City").html('<option value="">Select City</option>');
            }
        });
        $("#State").change(function () {
            var stateId = $(this).val();
            if (stateId) {
                $.getJSON('/Dashboard/GetCities', { stateId: stateId }, function (data) {
                    console.log(data);
                    var city = $("#City");
                    city.empty();
                    city.append('<option value="">Select City</option>');
                    $.each(data, function (index, item) {
                        city.append('<option value="' + item.cityid + '">' + item.cityname + '</option>');
                    });
                });
            }
            else {
                $("#City").html('<option value="">Select City</option>');
            }
        });
    })
</script>
<script>
    document.getElementById('files').addEventListener('change', function (e) {
        const file = e.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (event) {
                document.getElementById('profile').src = event.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
</script>