@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit User Page";
}
@model pizzashop.repository.ViewModels.UserViewModel;
<head>
    <link rel="stylesheet" href="~/css/userList.css">
</head>
<section style="min-height: 100vh; background-color: lightblue;">
    <div class="row pt-4 ms-sm-5 me-sm-5 ms-3 me-3 mb-4" style="height: 70px;">
        <h2 class="col" style="color: rgb(101, 101, 224); font-family: Roboto; font-weight: 550">Edit User</h1>
            <a asp-controller="User" asp-action="UserList" type="button"
                class="btn col-auto ms-2 d-flex align-items-center" style="border-radius: 4px; border: 2px solid blue;">
                <img src="~/images/left.png" style="height: 20px;"> Back
            </a>
    </div>
    <div class="row pt-4 ms-sm-5 me-sm-5 ms-3 me-3"
        style="border-radius: 6px; box-shadow: 1px 1px 15px rgb(108, 103, 103);">
        <form asp-controller="User" asp-action="EditUser">
            <input type="hidden" asp-for="Id">
            <div class="row">
                <div class="form-floating col-md-6 col-12 mb-3">
                    <input asp-for = "FirstName" type="text" class="form-control" id="floatingInput" placeholder="First Name">
                    <label for="floatingInput" class="label-pad">First Name</label>
                </div>
                <div class="form-floating col-md-6 col-12 mb-3">
                    <input asp-for = "LastName" type="text" class="form-control" id="floatingPassword" placeholder="Last Name">
                    <label for="floatingPassword" class="label-pad">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-md-6 col-12 mb-3">
                    <input asp-for = "Username" type="text" class="form-control" id="floatingInput" placeholder="Username">
                    <label for="floatingInput" class="label-pad">Username</label>
                </div>
                <div class="form-floating col-md-6 col-12 mb-3">
                    <select asp-for = "Role" class="form-select" aria-label="Default select example">
                        <option>Select Role</option>
                        @foreach (var role in Model.Roles)
                        {
                             <option value="@role.Value">@role.Text</option>
                        }
                    </select>
                    <label for="floatingPassword" class="label-pad">Role</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-md-6 col-12 mb-3">
                    <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="Email" disabled>
                    <label for="floatingInput" class="label-pad">Email</label>
                </div>
                <div class="form-floating col-md-6 col-12 mb-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Status</option>
                        <option value="1">Active</option>
                    </select>
                    <label for="floatingPassword" class="label-pad">Status</label>
                </div>
            </div>
            <div class="row mb-3 mx-1">
                <label for="files" class="btn w-100 d-flex align-items-center justify-content-center flex-column col-12"
                    style="height: 100px; border: 1px dashed">
                    <img src="~/images/cloud-arrow-up.svg" alt="upload-icon" style="width: 30px;" />
                    <span>
                        Browse files
                    </span>
                </label>
                <input id="files" type="file" class="upload-file d-none" />
            </div>
            <div class="row">
                <div class="form-floating col-md-4 col-12 mb-3">
                    <select asp-for="CountryId" id="Country" class="form-control" aria-label="Default select example">
                        <option>Select Country</option>
                        @foreach (var country in Model.Countries)
                        {
                        <option value="@country.Value">@country.Text</option>
                        }
                    </select>
                    <label for="floatingPassword" class="label-pad">Country</label>
                </div>
                <div class="form-floating col-md-4 col-12 mb-3">
                    <select asp-for="StateId" id="State" class="form-control" aria-label="Default select example">
                        <option>Select State</option>
                        @foreach (var state in Model.States)
                        {
                        <option value="@state.Value">@state.Text</option>
                        }
                    </select>
                    <label for="floatingPassword" class="label-pad">State</label>
                </div>
                <div class="form-floating col-md-4 col-12 mb-3">
                    <select asp-for="CityId" id="City"class="form-control" aria-label="Default select example">
                        <option value="">Select City</option>
                        @foreach (var city in Model.Cities)
                        {
                        <option value="@city.Value">@city.Text</option>
                        }
                    </select>
                    <label for="floatingPassword" class="label-pad">City</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-md-4 col-12 mb-3">
                    <input asp-for="Zipcode" type="text" class="form-control" id="floatingInput" placeholder="Zipcode">
                    <label for="floatingInput" class="label-pad">Zipcode</label>
                </div>
                <div class="form-floating col-md-4 col-12 mb-3">
                    <input asp-for="Address" type="text" class="form-control" id="floatingPassword" placeholder="Address">
                    <label for="floatingPassword" class="label-pad">Address</label>
                </div>
                <div class="form-floating col-md-4 col-12 mb-3">
                    <input asp-for="Phone" type="text" class="form-control" id="floatingPassword" placeholder="Phone">
                    <label for="floatingPassword" class="label-pad">Phone</label>
                </div>
            </div>
            <div class="row">
                <div class="col-auto mb-3">
                    <button type="submit" class="btn btn-primary" style="border-radius: 3px; width: 120px;">Update
                        User</button>
                </div>
                <div class="col-auto" style="padding-left: 0px;">
                    <button type="button" class="btn"
                        style="border-radius: 3px; width: 90px; border: 1px solid blue; color: blue">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    $(document).ready( function() {
        $("#Country").change(function() {
            console.log("hii");
            var countryId = $(this).val();
            if(countryId){
                $.getJSON('/Dashboard/GetStates' , { countryId : countryId} , function(data) {
                    var state = $("#State");
                    state.empty();
                    state.append('<option value="">Select State</option>');
                    $.each(data , function (index , item) {
                        
                        state.append('<option value="' + item.stateid + '">' + item.statename + '</option>');
                    });
                });
            }
            else{
                $("#State").html('<option value="">Select State</option>');
                $("#City").html('<option value="">Select City</option>');
            }
        });
        $("#State").change(function() {
            var stateId = $(this).val();
            if(stateId){
                $.getJSON('/Dashboard/GetCities' , { stateId : stateId} , function(data) {
                    console.log(data);
                    var city = $("#City");
                    city.empty();
                    city.append('<option value="">Select City</option>');
                    $.each(data , function (index , item) {
                        city.append('<option value="' + item.cityid + '">' + item.cityname + '</option>');
                    });
                });
            }
            else{
                $("#City").html('<option value="">Select City</option>');
            }
        });
    })
</script>