@using static pizzashop.repository.Models.itemtype
@model List<pizzashop.repository.ViewModels.ItemViewModel>

@foreach (var item in Model)
{
    <div class="me-5 mb-4">
        <div class="card card-custom d-flex flex-row align-items-center ItemCard" data-itemid="@item.Itemid" data-name="@item.Itemname" data-type="@item.Itemtype">
            <div class="image-container">
                <img src="@(string.IsNullOrEmpty(item.Itemimg) ? Url.Content("~/images/dining-menu.png") : Url.Content("~/images/uploads/" + item.Itemimg))" alt="@item.Itemname" class="card-img-custom" />
            </div>
            <div class="ms-3 d-flex flex-column justify-content-center flex-grow-1">
                <span style="color: black; font-size: 18px">@item.Itemname</span>
                <span class="text-muted fs-7 mt-1">₹@item.Rate</span>
            </div>
            <div class="corner-triangle @(item.Itemtype == pizzashop.repository.Models.itemtype.Veg ? "veg" : 
                                         item.Itemtype == pizzashop.repository.Models.itemtype.Nonveg ? "non-veg" : 
                                         item.Itemtype == pizzashop.repository.Models.itemtype.Vegan ? "vegan-corner" : "") "></div>
            <button aria-label="Favorite" class="heart-btn @(item.Isfavourite == true ? "favorite" :  "")" type="button" data-itemid="@item.Itemid">
                <i class="fas @(item.Isfavourite == true ? "fill-heart" :  "") fa-heart"></i>
            </button>
        </div>
    </div>
}

@if (!Model.Any())
{
    <div class="col-12 text-center py-5">
        <h4>No items found</h4>
    </div>
}