@using pizzashop.service.Interfaces
@inject IPermissionService PermissionService
@{
    var permission = await PermissionService.GetCurrentUserPermissionsForModule("TableAndSection");
}
<ul class="sortSection">
    @foreach (var sections in Model)
    {
        <li class="d-flex selectedSection items" tabindex="0" data-id="@sections.Sectionid">
            <div class="d-flex align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                <img src="~/images/dots-graphic.png" class="@(permission?.Canaddedit == true ? "sort-icon" : "")">
                <div style="width: 130px;" class="text-wrap ms-1 fw-bold">
                    @sections.Sectionname
                </div>
            </div>
            @if(permission.Canaddedit == true){
            <button class="btn ms-auto edit-btn" type="button" data-bs-toggle="modal" data-bs-target="#editSectionModal"
                data-id="@sections.Sectionid">
                <img src="~/images/pen.svg" class="d-none">
            </button>
            }
            @if(permission.Candelete == true){
            <button class="btn ms-1 delete-section" type="button" data-bs-toggle="modal"
                data-bs-target="#DeleteSectionModal" data-id="@sections.Sectionid">
                <img src="~/images/trash.svg" style="margin-right: 0px;" class="d-none" class="d-none">
            </button>
            }
        </li>
    }
</ul>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function () {
        $(".sortSection").sortable({
            handle: ".sort-icon",  
            update: function (event, ui) {
                let sortedIds = [];
                $(".sortSection li").each(function () {
                    sortedIds.push($(this).data("id"));
                });

                console.log(sortedIds);

                $.ajax({
                    url: "/Table/UpdateSectionOrder", 
                    type: "POST",
                    data: { sortOrder: sortedIds },
                    success: function (response) {
                        console.log("Order updated successfully");
                    },
                    error: function () {
                        console.error("Failed to update order");
                    }
                });
            }
        });
    });
</script>
